In [87]:
!pip install pyspark
import pyspark
print(pyspark.__version__)

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)
3.5.4

In [88]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("PySpark_Tutorial").getOrCreate()
print(spark)

<pyspark.sql.session.SparkSession object at 0x7f0f07801ed0>

In [89]:
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler

# Sample data
data = [
    (1, 2.0, 3.0, 5.0), (2, 3.0, 4.0, 7.0), (3, 4.0, 5.0, 9.0), (4, 5.0, 6.0, 11.0), (5, 6.0, 7.0, 13.0),
    (6, 7.0, 8.0, 15.0), (7, 8.0, 9.0, 17.0), (8, 9.0, 10.0, 19.0), (9, 10.0, 11.0, 21.0), (10, 11.0, 12.0, 23.0),
    (11, 12.0, 13.0, 25.0), (12, 13.0, 14.0, 27.0), (13, 14.0, 15.0, 29.0), (14, 15.0, 16.0, 31.0), (15, 16.0, 17.0, 33.0),
    (16, 17.0, 18.0, 35.0), (17, 18.0, 19.0, 37.0), (18, 19.0, 20.0, 39.0), (19, 20.0, 21.0, 41.0), (20, 21.0, 22.0, 43.0)
]
df = spark.createDataFrame(data, ["ID", "Feature1", "Feature2", "Label"])

# Feature engineering
assembler = VectorAssembler(inputCols=["Feature1", "Feature2"], outputCol="Features")
df = assembler.transform(df).select("Features", "Label")

# Train-Test Split
train_df, test_df = df.randomSplit([0.8, 0.2])

# Define and train the model
lr = LinearRegression(featuresCol="Features", labelCol="Label")
model = lr.fit(train_df)

# Make predictions
predictions = model.transform(test_df)
predictions.show()

+-----------+-----+------------------+
|   Features|Label|        prediction|
+-----------+-----+------------------+
| [9.0,10.0]| 19.0|19.000000000000004|
|[15.0,16.0]| 31.0| 30.99999999999999|
|[16.0,17.0]| 33.0| 32.99999999999999|
+-----------+-----+------------------+

In [90]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType
from pyspark.sql.dataframe import DataFrame
from pyspark.sql.functions import col, when, isnan, isnull, count, avg, trim
import os

In [91]:
DATA_FOLDER = "word-count/data"
# source https://www.statista.com/statistics/242030/marital-status-of-the-us-population-by-sex/
# the first value is male and the second is for female
MARITAL_STATUS_BY_GENDER = [
    ["Never-married", 47.35, 41.81],
    ["Married-AF-spouse", 67.54, 68.33],
    ["Widowed", 3.58, 11.61],
    ["Divorced", 10.82, 15.09]
]
MARITAL_STATUS_BY_GENDER_COLUMNS = ["marital_status_statistics", "male", "female"]

In [92]:
def read_data(spark: SparkSession) -> DataFrame:
    """
    read data based on the given schema; this is much faster than spark determining the schema
    """

    # Define the schema for the dataset
    schema = StructType([
        StructField("age", IntegerType(), True),
        StructField("workclass", StringType(), True),
        StructField("fnlwgt", FloatType(), True),
        StructField("education", StringType(), True),
        StructField("education_num", FloatType(), True),
        StructField("marital_status", StringType(), True),
        StructField("occupation", StringType(), True),
        StructField("relationship", StringType(), True),
        StructField("race", StringType(), True),
        StructField("sex", StringType(), True),
        StructField("capital_gain", FloatType(), True),
        StructField("capital_loss", FloatType(), True),
        StructField("hours_per_week", FloatType(), True),
        StructField("native_country", StringType(), True),
        StructField("income", StringType(), True)
    ])

    # Read the dataset
    data = spark.read \
        .schema(schema) \
        .option("header", "false") \
        .option("inferSchema", "false") \
        .csv(os.path.join(DATA_FOLDER,"*.csv"))

    data = data.repartition(8)

    float_columns = [f.name for f in data.schema.fields if isinstance(f.dataType, FloatType)]
    for v in float_columns:
        data = data.withColumn(v, data[v].cast(IntegerType()))

    # Get the names of all StringType columns
    string_columns = [f.name for f in data.schema.fields if isinstance(f.dataType, StringType)]

    # Remove leading and trailing spaces in all string columns
    for column in string_columns:
        data = data.withColumn(column, trim(data[column]))

    # Show the first 5 rows of the dataset
    data.show(5)

    return data

In [93]:
def missing_values(data: DataFrame) -> DataFrame:
    """
    count the number of samples with missing values for each row
    remove such samples
    """

    missing_values = data.select([count(when(isnan(c) | isnull(c), c)).alias(c) for c in data.columns])

    # Show the missing values count per column
    missing_values.show()

    # Get the number of samples in the DataFrame
    num_samples = data.count()

    # Print the number of samples
    print("Number of samples:", num_samples)

    data = data.dropna()

    return data

In [94]:
def feature_engineering(data: DataFrame) -> DataFrame:
    """
    calculate the product of each pair of integer features
    """

    # Create columns consisting of all products of columns of type IntegerType
    integer_columns = [f.name for f in data.schema.fields if isinstance(f.dataType, IntegerType)]
    for i, col1 in enumerate(integer_columns):
        for col2 in integer_columns[i:]:
            product_col_name = f"{col1}_x_{col2}"
            data = data.withColumn(product_col_name, col(col1) * col(col2))

    data.show(5)

    return data

def bias_marital_status(data: DataFrame):
    """
    is there bias in capital gain by marital status
    """

    # Calculate the average capital_gain by marital_status
    average_capital_gain = data.groupBy("marital_status").agg(avg("capital_gain").alias("average_capital_gain"))

    # Show the average capital_gain by marital_status
    average_capital_gain.show()

    # Filter data based on marital_status = Divorced
    divorced_data = data.filter(data.marital_status == "Divorced")

    # Show the first 5 rows of the filtered DataFrame
    divorced_data.show(5)

def join_with_US_gender(spark: SparkSession, data: DataFrame):
    """
    join with respect to the marital_status
    """

    # create a data frame from new data
    columns = ["dept_name","dept_id"]
    us_df = spark.createDataFrame(MARITAL_STATUS_BY_GENDER, MARITAL_STATUS_BY_GENDER_COLUMNS)

    return data.join(us_df, data.marital_status == us_df.marital_status_statistics, 'outer')

def main():
    # Create a Spark session
    spark = SparkSession.builder \
        .appName("Read Adult Dataset") \
        .getOrCreate()

    data = read_data(spark)
    # perform basic EDA - count missing values
    data = missing_values(data)
    data = feature_engineering(data)
    bias_marital_status(data)
    data = join_with_US_gender(spark, data)



    data.show(5)
    data.write.format('csv').option('header', 'true').mode('overwrite').save('saved.csv')
    #spark.stop()
    #return data

In [95]:
def bias_marital_status(data: DataFrame):
    """
    is there bias in capital gain by marital status
    """

    # Calculate the average capital_gain by marital_status
    average_capital_gain = data.groupBy("marital_status").agg(avg("capital_gain").alias("average_capital_gain"))

    # Show the average capital_gain by marital_status
    average_capital_gain.show()

    # Filter data based on marital_status = Divorced
    divorced_data = data.filter(data.marital_status == "Divorced")

    # Show the first 5 rows of the filtered DataFrame
    divorced_data.show(5)

In [96]:
def join_with_US_gender(spark: SparkSession, data: DataFrame):
    """
    join with respect to the marital_status
    """

    # create a data frame from new data
    columns = ["dept_name","dept_id"]
    us_df = spark.createDataFrame(MARITAL_STATUS_BY_GENDER, MARITAL_STATUS_BY_GENDER_COLUMNS)

    return data.join(us_df, data.marital_status == us_df.marital_status_statistics, 'outer')

In [97]:
spark = SparkSession.builder \
        .appName("Read Adult Dataset") \
        .getOrCreate()

data = read_data(spark)

+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education_num|    marital_status|    occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
| 72|Self-emp-not-inc| 52138|   Doctorate|           16|Married-civ-spouse|Prof-specialty|      Husband|White|  Male|           0|        2392|            25| United-States|  >50K|
| 45|         Private|140581|Some-college|           10|           Widowed| Other-service|    Unmarried|Black|Female|           0|           0|            40| United-States| <=50K|
| 55|       Local-gov| 84564| Prof-school|           15|          Divorced|Prof-specialty|Not-in-family|White|Female|           0|           0|            39| United-States| <=50K|
| 37|         Private|356824|     HS-grad|            9|         Separated|  Tech-support|    Unmarried|White|Female|           0|           0|            40| United-States| <=50K|
| 56|Self-emp-not-inc|175964|Some-college|           10|          Divorced| Other-service|Not-in-family|White|Female|           0|           0|            40| United-States| <=50K|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

In [98]:
data = missing_values(data)

+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|age|workclass|fnlwgt|education|education_num|marital_status|occupation|relationship|race|sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|  1|        0|     1|        0|            1|             0|         0|           0|   0|  0|           1|           1|             1|             0|     0|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+

Number of samples: 32562

In [99]:
data = feature_engineering(data)

+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
|age|       workclass|fnlwgt|   education|education_num|    marital_status|    occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
| 72|Self-emp-not-inc| 52138|   Doctorate|           16|Married-civ-spouse|Prof-specialty|      Husband|White|  Male|           0|        2392|            25| United-States|  >50K|     5184|     3753936|               1152|                 0|            172224|                1800|    -1576596252|                834208|                    0|            124714096|                1303450|                          256|                           0|                       38272|                           400|                          0|                          0|                            0|                    5721664|                        59800|                            625|
| 45|         Private|140581|Some-college|           10|           Widowed| Other-service|    Unmarried|Black|Female|           0|           0|            40| United-States| <=50K|     2025|     6326145|                450|                 0|                 0|                1800|    -1711818919|               1405810|                    0|                    0|                5623240|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|
| 55|       Local-gov| 84564| Prof-school|           15|          Divorced|Prof-specialty|Not-in-family|White|Female|           0|           0|            39| United-States| <=50K|     3025|     4651020|                825|                 0|                 0|                2145|    -1438864496|               1268460|                    0|                    0|                3297996|                          225|                           0|                           0|                           585|                          0|                          0|                            0|                          0|                            0|                           1521|
| 37|         Private|356824|     HS-grad|            9|         Separated|  Tech-support|    Unmarried|White|Female|           0|           0|            40| United-States| <=50K|     1369|    13202488|                333|                 0|                 0|                1480|    -1525651904|               3211416|                    0|                    0|               14272960|                           81|                           0|                           0|                           360|                          0|                          0|                            0|                          0|                            0|                           1600|
| 56|Self-emp-not-inc|175964|Some-college|           10|          Divorced| Other-service|Not-in-family|White|Female|           0|           0|            40| United-States| <=50K|     3136|     9853984|                560|                 0|                 0|                2240|      898558224|               1759640|                    0|                    0|                7038560|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
only showing top 5 rows

In [100]:
bias_marital_status(data)

+--------------------+--------------------+
|      marital_status|average_capital_gain|
+--------------------+--------------------+
|           Separated|   535.5687804878049|
|       Never-married|  376.58831788823363|
|Married-spouse-ab...|   653.9832535885167|
|            Divorced|   728.4148098131893|
|             Widowed|   571.0715005035247|
|   Married-AF-spouse|   432.6521739130435|
|  Married-civ-spouse|  1764.8595085470085|
+--------------------+--------------------+

+---+----------------+------+------------+-------------+--------------+----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
|age|       workclass|fnlwgt|   education|education_num|marital_status|      occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|
+---+----------------+------+------------+-------------+--------------+----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
| 36|         Private| 31438|     HS-grad|            9|      Divorced|Transport-moving|    Unmarried|White|  Male|           0|           0|            43|             ?| <=50K|     1296|     1131768|                324|                 0|                 0|                1548|      988347844|                282942|                    0|                    0|                1351834|                           81|                           0|                           0|                           387|                          0|                          0|                            0|                          0|                            0|                           1849|
| 45|         Private|220641|Some-college|           10|      Divorced| Exec-managerial|    Unmarried|White|Female|           0|           0|            40| United-States| <=50K|     2025|     9928845|                450|                 0|                 0|                1800|     1437810625|               2206410|                    0|                    0|                8825640|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|
| 57|     Federal-gov| 66504| Prof-school|           15|      Divorced|  Prof-specialty|Not-in-family|White|Female|           0|           0|            50| United-States|  >50K|     3249|     3790728|                855|                 0|                 0|                2850|      127814720|                997560|                    0|                    0|                3325200|                          225|                           0|                           0|                           750|                          0|                          0|                            0|                          0|                            0|                           2500|
| 49|Self-emp-not-inc|107597|     HS-grad|            9|      Divorced| Exec-managerial|    Unmarried|White|Female|       14084|           0|            30| United-States|  >50K|     2401|     5272253|                441|            690116|                 0|                1470|    -1307787479|                968373|           1515396148|                    0|                3227910|                           81|                      126756|                           0|                           270|                  198359056|                          0|                       422520|                          0|                            0|                            900|
| 30|         Private|399088|Some-college|           10|      Divorced|    Adm-clerical|Not-in-family|White|Female|           0|           0|            45| United-States| <=50K|      900|    11972640|                300|                 0|                 0|                1350|      357441792|               3990880|                    0|                    0|               17958960|                          100|                           0|                           0|                           450|                          0|                          0|                            0|                          0|                            0|                           2025|
+---+----------------+------+------------+-------------+--------------+----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
only showing top 5 rows

In [102]:
data = join_with_US_gender(spark, data)

In [103]:
def main():
    # Create a Spark session
    spark = SparkSession.builder \
        .appName("Read Adult Dataset") \
        .getOrCreate()

    data = read_data(spark)
    # perform basic EDA - count missing values
    data = missing_values(data)
    data = feature_engineering(data)
    bias_marital_status(data)
    data = join_with_US_gender(spark, data)



    data.show(5)
    #spark.stop()

In [104]:
main()

+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|age|       workclass|fnlwgt|   education|education_num|    marital_status|    occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
| 72|Self-emp-not-inc| 52138|   Doctorate|           16|Married-civ-spouse|Prof-specialty|      Husband|White|  Male|           0|        2392|            25| United-States|  >50K|
| 45|         Private|140581|Some-college|           10|           Widowed| Other-service|    Unmarried|Black|Female|           0|           0|            40| United-States| <=50K|
| 55|       Local-gov| 84564| Prof-school|           15|          Divorced|Prof-specialty|Not-in-family|White|Female|           0|           0|            39| United-States| <=50K|
| 37|         Private|356824|     HS-grad|            9|         Separated|  Tech-support|    Unmarried|White|Female|           0|           0|            40| United-States| <=50K|
| 56|Self-emp-not-inc|175964|Some-college|           10|          Divorced| Other-service|Not-in-family|White|Female|           0|           0|            40| United-States| <=50K|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|age|workclass|fnlwgt|education|education_num|marital_status|occupation|relationship|race|sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|  1|        0|     1|        0|            1|             0|         0|           0|   0|  0|           1|           1|             1|             0|     0|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+

Number of samples: 32562
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
|age|       workclass|fnlwgt|   education|education_num|    marital_status|    occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
| 72|Self-emp-not-inc| 52138|   Doctorate|           16|Married-civ-spouse|Prof-specialty|      Husband|White|  Male|           0|        2392|            25| United-States|  >50K|     5184|     3753936|               1152|                 0|            172224|                1800|    -1576596252|                834208|                    0|            124714096|                1303450|                          256|                           0|                       38272|                           400|                          0|                          0|                            0|                    5721664|                        59800|                            625|
| 45|         Private|140581|Some-college|           10|           Widowed| Other-service|    Unmarried|Black|Female|           0|           0|            40| United-States| <=50K|     2025|     6326145|                450|                 0|                 0|                1800|    -1711818919|               1405810|                    0|                    0|                5623240|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|
| 55|       Local-gov| 84564| Prof-school|           15|          Divorced|Prof-specialty|Not-in-family|White|Female|           0|           0|            39| United-States| <=50K|     3025|     4651020|                825|                 0|                 0|                2145|    -1438864496|               1268460|                    0|                    0|                3297996|                          225|                           0|                           0|                           585|                          0|                          0|                            0|                          0|                            0|                           1521|
| 37|         Private|356824|     HS-grad|            9|         Separated|  Tech-support|    Unmarried|White|Female|           0|           0|            40| United-States| <=50K|     1369|    13202488|                333|                 0|                 0|                1480|    -1525651904|               3211416|                    0|                    0|               14272960|                           81|                           0|                           0|                           360|                          0|                          0|                            0|                          0|                            0|                           1600|
| 56|Self-emp-not-inc|175964|Some-college|           10|          Divorced| Other-service|Not-in-family|White|Female|           0|           0|            40| United-States| <=50K|     3136|     9853984|                560|                 0|                 0|                2240|      898558224|               1759640|                    0|                    0|                7038560|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|
+---+----------------+------+------------+-------------+------------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
only showing top 5 rows

+--------------------+--------------------+
|      marital_status|average_capital_gain|
+--------------------+--------------------+
|           Separated|   535.5687804878049|
|       Never-married|  376.58831788823363|
|Married-spouse-ab...|   653.9832535885167|
|            Divorced|   728.4148098131893|
|             Widowed|   571.0715005035247|
|   Married-AF-spouse|   432.6521739130435|
|  Married-civ-spouse|  1764.8595085470085|
+--------------------+--------------------+

+---+----------------+------+------------+-------------+--------------+----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
|age|       workclass|fnlwgt|   education|education_num|marital_status|      occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|
+---+----------------+------+------------+-------------+--------------+----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
| 36|         Private| 31438|     HS-grad|            9|      Divorced|Transport-moving|    Unmarried|White|  Male|           0|           0|            43|             ?| <=50K|     1296|     1131768|                324|                 0|                 0|                1548|      988347844|                282942|                    0|                    0|                1351834|                           81|                           0|                           0|                           387|                          0|                          0|                            0|                          0|                            0|                           1849|
| 45|         Private|220641|Some-college|           10|      Divorced| Exec-managerial|    Unmarried|White|Female|           0|           0|            40| United-States| <=50K|     2025|     9928845|                450|                 0|                 0|                1800|     1437810625|               2206410|                    0|                    0|                8825640|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|
| 57|     Federal-gov| 66504| Prof-school|           15|      Divorced|  Prof-specialty|Not-in-family|White|Female|           0|           0|            50| United-States|  >50K|     3249|     3790728|                855|                 0|                 0|                2850|      127814720|                997560|                    0|                    0|                3325200|                          225|                           0|                           0|                           750|                          0|                          0|                            0|                          0|                            0|                           2500|
| 49|Self-emp-not-inc|107597|     HS-grad|            9|      Divorced| Exec-managerial|    Unmarried|White|Female|       14084|           0|            30| United-States|  >50K|     2401|     5272253|                441|            690116|                 0|                1470|    -1307787479|                968373|           1515396148|                    0|                3227910|                           81|                      126756|                           0|                           270|                  198359056|                          0|                       422520|                          0|                            0|                            900|
| 30|         Private|399088|Some-college|           10|      Divorced|    Adm-clerical|Not-in-family|White|Female|           0|           0|            45| United-States| <=50K|      900|    11972640|                300|                 0|                 0|                1350|      357441792|               3990880|                    0|                    0|               17958960|                          100|                           0|                           0|                           450|                          0|                          0|                            0|                          0|                            0|                           2025|
+---+----------------+------+------------+-------------+--------------+----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
only showing top 5 rows

+---+----------------+------+------------+-------------+--------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+-------------------------+-----+------+
|age|       workclass|fnlwgt|   education|education_num|marital_status|    occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|marital_status_statistics| male|female|
+---+----------------+------+------------+-------------+--------------+--------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+-------------------------+-----+------+
| 55|       Local-gov| 84564| Prof-school|           15|      Divorced|Prof-specialty|Not-in-family|White|Female|           0|           0|            39| United-States| <=50K|     3025|     4651020|                825|                 0|                 0|                2145|    -1438864496|               1268460|                    0|                    0|                3297996|                          225|                           0|                           0|                           585|                          0|                          0|                            0|                          0|                            0|                           1521|                 Divorced|10.82| 15.09|
| 56|Self-emp-not-inc|175964|Some-college|           10|      Divorced| Other-service|Not-in-family|White|Female|           0|           0|            40| United-States| <=50K|     3136|     9853984|                560|                 0|                 0|                2240|      898558224|               1759640|                    0|                    0|                7038560|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|                 Divorced|10.82| 15.09|
| 52|         Private| 48947|Some-college|           10|      Divorced|  Adm-clerical|    Unmarried|White|Female|           0|           0|            45| United-States| <=50K|     2704|     2545244|                520|                 0|                 0|                2340|    -1899158487|                489470|                    0|                    0|                2202615|                          100|                           0|                           0|                           450|                          0|                          0|                            0|                          0|                            0|                           2025|                 Divorced|10.82| 15.09|

In [47]:
from pyspark import SparkContext, SparkConf
DATA = "./word-count/data/*.txt"
OUTPUT_DIR = "counts" # name of the folder

def word_count():
  sc = SparkContext("local","Word count example")
  textFile = sc.textFile(DATA)
  counts = textFile.flatMap(lambda line: line.split(" ")).map(lambda word: (word,1)).reduceByKey(lambda a, b: a + b).filter(lambda word_count: word_count[1] >= 3)
  counts.saveAsTextFile(OUTPUT_DIR)
  print("Number of partitions: ", textFile.getNumPartitions())

word_count()

Number of partitions:  2

In [85]:
sc = SparkContext.getOrCreate()
sc.stop()

In [108]:
import pandas as pd

spark = SparkSession.builder \
        .appName("Read Adult Dataset") \
        .getOrCreate()

def middle_age(spark: SparkSession, data: DataFrame):
  ret_data = data.where((data.age >= 30) & (data.age <= 50))
  ret_data.show()
  df = ret_data.toPandas()
  return df.describe()

middle_age(spark, data)

+---+----------------+------+------------+-------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+-------------------------+-----+------+-------------------------+-----+------+
|age|       workclass|fnlwgt|   education|education_num|    marital_status|       occupation| relationship|              race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|marital_status_statistics| male|female|marital_status_statistics| male|female|
+---+----------------+------+------------+-------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+-------------------------+-----+------+-------------------------+-----+------+
| 40|         Private|183404|Some-college|           10|         Separated|    Other-service|    Unmarried|             White|Female|           0|           0|             8| United-States| <=50K|     1600|     7336160|                400|                 0|                 0|                 320|     -722711152|               1834040|                    0|                    0|                1467232|                          100|                           0|                           0|                            80|                          0|                          0|                            0|                          0|                            0|                             64|                     NULL| NULL|  NULL|                     NULL| NULL|  NULL|
| 34|         Private|441454|     HS-grad|            9|     Never-married|            Sales|Not-in-family|             White|Female|           0|           0|            24| United-States| <=50K|     1156|    15009436|                306|                 0|                 0|                 816|     1608105796|               3973086|                    0|                    0|               10594896|                           81|                           0|                           0|                           216|                          0|                          0|                            0|                          0|                            0|                            576|            Never-married|47.35| 41.81|            Never-married|47.35| 41.81|
| 34|       State-gov|171216|   Bachelors|           13|     Never-married|   Prof-specialty|    Own-child|             White|  Male|           0|           0|            50| United-States| <=50K|     1156|     5821344|                442|                 0|                 0|                1700|     -749852416|               2225808|                    0|                    0|                8560800|                          169|                           0|                           0|                           650|                          0|                          0|                            0|                          0|                            0|                           2500|            Never-married|47.35| 41.81|            Never-married|47.35| 41.81|
| 38|         Private|193372|Some-college|           10|     Never-married|  Exec-managerial|    Own-child|             White|Female|           0|           0|            40| United-States| <=50K|     1444|     7348136|                380|                 0|                 0|                1520|    -1261975280|               1933720|                    0|                    0|                7734880|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|            Never-married|47.35| 41.81|            Never-married|47.35| 41.81|
| 47|    Self-emp-inc|109832|     HS-grad|            9|          Divorced|  Exec-managerial|Not-in-family|             White|  Male|           0|           0|            60| United-States| <=50K|     2209|     5162104|                423|                 0|                 0|                2820|     -821833664|                988488|                    0|                    0|                6589920|                           81|                           0|                           0|                           540|                          0|                          0|                            0|                          0|                            0|                           3600|                 Divorced|10.82| 15.09|                 Divorced|10.82| 15.09|
| 35|         Private|192251|     HS-grad|            9|          Divorced|     Adm-clerical|    Own-child|             White|Female|           0|           0|            40| United-States| <=50K|     1225|     6728785|                315|                 0|                 0|                1400|    -1694258663|               1730259|                    0|                    0|                7690040|                           81|                           0|                           0|                           360|                          0|                          0|                            0|                          0|                            0|                           1600|                 Divorced|10.82| 15.09|                 Divorced|10.82| 15.09|
| 42|Self-emp-not-inc|140474|  Assoc-acdm|           12|          Divorced|     Craft-repair|    Own-child|Amer-Indian-Eskimo|  Male|           0|           0|            35| United-States| <=50K|     1764|     5899908|                504|                 0|                 0|                1470|    -1741891804|               1685688|                    0|                    0|                4916590|                          144|                           0|                           0|                           420|                          0|                          0|                            0|                          0|                            0|                           1225|                 Divorced|10.82| 15.09|                 Divorced|10.82| 15.09|
| 45|         Private|140581|Some-college|           10|           Widowed|    Other-service|    Unmarried|             Black|Female|           0|           0|            40| United-States| <=50K|     2025|     6326145|                450|                 0|                 0|                1800|    -1711818919|               1405810|                    0|                    0|                5623240|                          100|                           0|                           0|                           400|                          0|                          0|                            0|                          0|                            0|                           1600|                  Widowed| 3.58| 11.61|                  Widowed| 3.58| 11.61|
| 36|         Private|185360|     HS-grad|            9|Married-civ-spouse|            Sales|      Husband|             White|  Male|           0|           0|            60| United-States| <=50K|     1296|     6672960|                324|                 0|                 0|                2160|       -1408768|               1668240|                    0|                    0|               11121600|                           81|                           0|                           0|                           540|                          0|                          0|                            0|                          0|                            0|                           3600|                     NULL| NULL|  NULL|                     NULL| NULL|  NULL|
| 36|         Private|261241|     HS-grad|            9|Married-civ-spouse|Machine-op-inspct|      Husband|             White|  Male|           0|           0|            50| United-States|  >50K|     1296|     9404676|                324|                 0|                 0|                1800|     -472616655|               2351169|                    0|                    0|               13062050|                           81|                           0|                           0|                           450|                          0|                          0|                            0|                          0|                            0|                           2500|                     NULL| NULL|  NULL|                     NULL| NULL|  NULL|
| 48|         Private|165267|        10th|            6|Married-civ-spouse|  Farming-fishing|      Husband|             Black|  Male|           0|           0|            40| United-States| <=50K|     2304|     7932816|                288|                 0|                 0|                1920|     1543377513|                991602|                    0|                    0|                6610680|                           36|                           0|                           0|                           240|                          0|                          0|                            0|                          0|                            0|                           1600|                     NULL| NULL|  NULL|                     NULL| NULL|  NULL|
| 31|         Private| 66815|     HS-grad|            9|Married-civ-spouse|     Craft-repair|      Husband|             White|  Male|           0|           0|            50| United-States| <=50K|      961|     2071265|                279|                 0|                 0|                1550|      169276929|                601335|                    0|                    0|                3340750|                           81|                           0|                           0|                           450|                          0|                          0|                            0|                          0|                            0|                           2500|                     NULL| NULL|  NULL|                     NULL| NULL|  NULL|
| 36|               ?|224886|     HS-grad|            9|Married-civ-spouse|                ?|      Husband|             White|  Male|           0|           0|            40| United-States| <=50K|     1296|     8095896|                324|                 0|                 0|                1440|     -965894556|               2023974|                    0|                    0|                8995440|                           81|                           0|                           0|                           360|                          0|                          0|                            0|                          0|                            0|                           1600|                     NULL| NULL|  NULL|                     NULL| NULL|  NULL|
| 30|Self-emp-not-inc|182089|     HS-grad|            9|Married-civ-spouse|  Farming-fishing|      Husband|             White|  Male|           0|           0|            85| United-States| <=50K|      900|     5462670|                270|                 0|                 0|                2550|    -1203334447|               1638801|                    0|                    0|               15477565|                           81|                           0|                           0|                           765|                          0|                          0|                            0|                          0|                            0|                           7225|                     NULL| NULL|  NULL|                     NULL| NULL|  NULL|
| 33|         Private|285131|     HS-grad|            9|Married-civ-spouse|     Craft-repair|      Husband|             White|  Male|           0|           0|            40| United-States| <=50K|     1089|     9409323|                297|                 0|                 0|                1320|     -304691463|               2566179|                    0|                    0|               11405240|                           81|                           0|                           0|                           360|                          0|                          0|                            0|                          0|                            0|                           1600|                     NULL| NULL|  NULL|                     NULL| NULL|  NULL|
| 50|         Private|190762|     5th-6th|            3|Married-civ-spouse|Handlers-cleaners|      Husband|             White|  Male|           0|           0|            40|        Mexico| <=50K|     2500|     9538100|                150|                 0|                 0|                2000|     2030402276|                572286|                    0|                    0|                7630480|                            9|                           0|                           0|                           120|                          0|                          0|                            0|                          0|                            0|                           1600|                     NULL| NULL|  NULL|                     NULL| NULL|  NULL|
| 36|         Private|247558| Prof-school|           15|Married-civ-spouse|   Prof-specialty|      Husband|             White|  Male|        5178|           0|            60|             ?|  >50K|     1296|     8912088|                540|            186408|                 0|                2160|     1155421220|               3713370|           1281855324|                    0|               14853480|                          225|                       77670|                           0|                           900|                   26811684|                          0|                       310680|                          0|                            0|                           3600|                     NULL| NULL|  NULL|                     NULL| NULL|  NULL|
| 30|         Private| 97757|   Assoc-voc|           11|Married-civ-spouse|   Prof-specialty|         Wife|             White|Female|           0|           0|            36| United-States|  >50K|      900|     2932710|                330|                 0|                 0|                1080|      966496457|               1075327|                    0|                    0|                3519252|                          121|                           0|                           0|                           396|                          0|                          0|                            0|                          0|                            0|                           1296|                     NULL| NULL|  NULL|                     NULL| NULL|  NULL|
| 49|         Private|115613|         9th|            5|Married-civ-spouse|    Other-service|      Husband|             White|  Male|           0|           0|            40| United-States| <=50K|     2401|     5665037|                245|                 0|                 0|                1960|      481463881|                578065|                    0|                    0|                4624520|                           25|                           0|                           0|                           200|                          0|                          0|                            0|                          0|                            0|                           1600|                     NULL| NULL|  NULL|                     NULL| NULL|  NULL|
| 36|         Private| 28572|Some-college|           10|Married-civ-spouse|     Craft-repair|      Husband|             White|  Male|           0|           0|            50| United-States| <=50K|     1296|     1028592|                360|                 0|                 0|                1800|      816359184|                285720|                    0|                    0|                1428600|                          100|                           0|                           0|                           500|                          0|                          0|                            0|                          0|                            0|                           2500|                     NULL| NULL|  NULL|                     NULL| NULL|  NULL|
+---+----------------+------+------------+-------------+------------------+-----------------+-------------+------------------+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+-------------------------+-----+------+-------------------------+-----+------+
only showing top 20 rows

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,age_x_age,age_x_fnlwgt,age_x_education_num,age_x_capital_gain,...,capital_gain_x_capital_gain,capital_gain_x_capital_loss,capital_gain_x_hours_per_week,capital_loss_x_capital_loss,capital_loss_x_hours_per_week,hours_per_week_x_hours_per_week,male,female,male,female
count,16390.000000,1.639000e+04,16390.000000,16390.000000,16390.000000,16390.000000,16390.000000,1.639000e+04,16390.000000,1.639000e+04,...,1.639000e+04,16390.0,1.639000e+04,1.639000e+04,16390.000000,16390.000000,6358.000000,6358.000000,6358.000000,6358.000000
mean,39.298109,1.895854e+05,10.434655,1296.275595,102.861928,43.261440,1579.090299,7.420700e+06,410.665040,5.333641e+04,...,1.620511e+07,0.0,6.364586e+04,1.980256e+05,4689.146797,1990.030933,28.422400,28.048213,28.422400,28.048213
std,5.895005,1.068750e+05,2.522236,8181.593110,432.962380,10.885127,469.097536,4.274383e+06,120.548608,3.458581e+05,...,1.174326e+08,0.0,4.358265e+05,8.750665e+05,20548.383270,1076.631521,18.604362,13.580131,18.604362,13.580131
min,30.000000,1.487800e+04,1.000000,0.000000,0.000000,1.000000,900.000000,5.790600e+05,30.000000,0.000000e+00,...,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000,1.000000,3.580000,11.610000,3.580000,11.610000
25%,34.000000,1.169285e+05,9.000000,0.000000,0.000000,40.000000,1156.000000,4.589637e+06,330.000000,0.000000e+00,...,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000,1600.000000,10.820000,15.090000,10.820000,15.090000
50%,39.000000,1.778765e+05,10.000000,0.000000,0.000000,40.000000,1521.000000,6.840798e+06,403.000000,0.000000e+00,...,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000,1600.000000,10.820000,15.090000,10.820000,15.090000
75%,44.000000,2.364150e+05,13.000000,0.000000,0.000000,48.000000,1936.000000,9.360606e+06,480.000000,0.000000e+00,...,0.000000e+00,0.0,0.000000e+00,0.000000e+00,0.000000,2304.000000,47.350000,41.810000,47.350000,41.810000
max,50.000000,1.455435e+06,16.000000,99999.000000,3900.000000,99.000000,2500.000000,6.147540e+07,800.000000,4.999950e+06,...,1.409865e+09,0.0,7.999920e+06,1.521000e+07,239085.000000,9801.000000,67.540000,68.330000,67.540000,68.330000